/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    line-height: 16.44px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.accommodation-and-populare {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.accommodation-and-populare section {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.accommodation {
    width: 65%;
}

.accommodation-title {
    margin-bottom: 30px;
}

.accommodation-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.accommodation-cards .card {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.accommodation-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

.accommodation-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.accommodation-p {
    font-weight: 700;
    font-size: 18px;
    padding-top: 15px;
    cursor: pointer;
}

.accommodation .card-rating {
    margin-bottom: 5px;
}

.accommodation .card-txt p {
    margin: 8px 0px;
}

.accommodation .card-txt h3 {
    margin-bottom: 8px;
}


.card:hover {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

/****** Populaires ***********/
.populare {
    width: 32%;
}

.populare-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populare-cards .card {
    display: flex;
    margin-top: 33px;
}

.populare-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populare-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populare-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populare-cards .card-subtitle {
    margin: 0;
}

.populare-cards .card-rating {
    margin-bottom: 5px;
}

/*HEADER***************/

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 19px;
    padding: 30px 50px 30px 0px;
}

.navbar {
    width: 244px;
    display: flex;
    justify-content: space-between;
}

.btn-accommodation:hover:before {
    content: '';
    position: absolute;
    width: 110px;
    height: 3px;
    background-color: #0065FC;
    top: 1px;
}

.btn-activities:hover:before {
    content: '';
    position: absolute;
    width: 62px;
    height: 3px;
    background-color: #0065FC;
    top: 1px;
}

.navbar a:hover {
    color: #0065FC;
    text-shadow: 1px 1px 1px rgba(0, 101, 252, 0.2);
}

.bar {
    display: flex;
  }
  
.bar-blue {
    background-color: #0065FC;
    height: 2px;
    width: 100%;
  }
  
.bar-grey {
    background-color: #F2F2F2;
    height: 2px;
    width: 100%;
  }

/*FOOTER**************/

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #F2F2F2;
}

.footer-info {
    padding: 20px;
}

footer p {
    cursor: pointer;
}

footer p:hover {
    color: #0065FC;
}

footer h2 {
    font-size: 1.17em;
}

/*ACTIVITES**************/

.activities {
    padding: 30px;
    margin-bottom: 30px;
}

.activities-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.activities-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.activities-cards h3 {
    font-size: 16px;
    font-weight: 700;
    padding-inline: 20px;
}

.activities-cards .card {
    padding: 0px;
    padding-bottom: 5px;
    height: 100%;
}

.activities-title {
    margin-bottom: 40px;
}

/*SECTION SEARCH****************/

.search-text {
    margin-bottom: 30px;
}

.logo-none {
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    display: none;
    cursor: pointer;
}

form i {
    background-color: #F2F2F2;
    height: 18px;
    width: 14px;
    padding: 15px 18px;
    border-radius: 15px 0px 0px 15px;
}

.icon-search {
    color: black;
}

form {
    display: flex;
    margin-bottom: 30px;
}

input[type=search]{
    border: 1px solid #F2F2F2;
    text-align: center;
    font-weight: 700;
    font-family: "raleway";
    padding: 0px 20px;
}

input[type=submit]{
    background-color: #0065FC;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    font-family: "raleway";
    cursor: pointer;
}

.filters{
    display: flex;
    gap: 15px;
    margin-bottom: 35px;
}

.btn-filter {
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    display: flex;
    height: 50px;
    padding: 0px 19px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.container-filters {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.btn-filter:hover {
    background-color: #DEEBFF;
}

.filters i {
    color: #0065FC;
}

.info {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 35px;
}

.iconInfo {
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-filter {
    font-weight: 700;
    font-size: 18px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .accommodation-and-populare {
        flex-direction: column;
    }

    .accommodation {
        width: 100%;
    }

    .populare {
        width: 100%;
        margin-top: 50px;
    }

    .populare-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populare-cards a {
        width: 30%;
    }

    .populare-cards .card-title {
        font-size: 14px;
    }

    .populare-cards .card-subtitle {
        font-size: 13px;
    }

    .filters {
        display: flex;
        flex-direction: column;
    }

    .activities-cards img {
        height: 200px;
    }

    .card-txt h3 {
        font-size: 13px;
    }

    .activities-cards .card {
        display: grid;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

.activities-cards {
    
    grid-template-columns: 1fr;
}

.activities-cards img {
    height: 141px;
}

    footer {
        grid-template-columns: 1fr;
    }

    .main-container {
        padding: 0px;
    }

    body {
        padding: 0px;
        margin: 0px;
    }

    .info {
        padding: 0px 20px;
        margin-bottom: 0px;
    }

    .info i {
        height: 24px;
        width: 30px;
    }

    .accommodation-and-populare {
        flex-direction: column-reverse;
    }

    .populare-cards {
        display: grid;
        grid-template-columns: 1fr;
    }

    .populare-cards .card {
        margin-top: 20px;
    }

    .populare-cards a {
        width: 100%;
    }

    .populare .section-title {
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .accommodation-and-populare .populare {
        padding: 20px;
    }

    .accommodation-cards {
        display: flex;
        flex-direction: column;
    }

    form {
        justify-content: center;
        margin-bottom: 20px;
    }

    .search h1 {
        text-align: center;
        line-height: 25.83px;
        margin-bottom: 10px;
        margin-top: 50px;
    }

    .search .search-p {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 35px;
    }

    nav {
        flex-direction: column;
        margin-bottom: 30px;
    }

    nav a {
        align-self: center;
    }

    .logo {
        padding: 30px 0px;
    }

    .navbar {
        padding-top: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 10px;
        width: inherit;
    }

    .navbar a {
        width: 100%;
        text-align: center;
    }

    .container-filters {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-inline: 20px;
    }

    .text-filter {
        padding-inline: 20px;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .accommodation-and-populare .populare {
        border-radius: 0px;
    }

    .accommodation-and-populare .accommodation {
        background-color: white;
        padding: 45px 20px 10px 20px;
    }

    input[type="submit"] {
        display: none;
    }

    .logo-none {
        display: inherit;
    }

    .btn-accommodation:before {
        display: none;
    }
        
    .btn-activities:before {
        display: none;
    }

    .class-btn-accommodation:hover,
    .class-btn-activities:hover {
        border-color: #0065FC;
    }

    .class-btn-accommodation,
    .class-btn-activities {
        text-align: center;
        border-bottom: 3px solid transparent;
        padding: 10px;
        width: 100%;
    }

    .info p {
        margin: 8px 0px;
    }

    .section-title {
        line-height: 1px;
    }

    .btn-filter {
        padding: 0px;
    }

    #search-p {
        margin-left: 20px;
    }
}